<html>
<head>
    <title>Zamorins Solutions</title>
    <meta name="description" content="Simple Touch Infinite Possibilities" property="description"><meta>
    <meta name="keywords" content="Zamorins Solutions, Web Development, Mobile App Development" property="keywords"><meta>
    <meta name="canonical" content="http://zamorinstech.com/" property="canonical"><meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" property="viewport"><meta>
    <meta name="og:title" content="Zamorins Solutions" property="og:title"><meta>
    <meta name="og:description" content="We are innovate technology company with mighty mission to empower and simplify the lives of our users. With a seasoned global team, we bring our passion and personal touch to every project" property="og:description"><meta>
    <meta name="og:image" content="assets/images/logo.png" property="og:image"><meta>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="assets/css/loading.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/about.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--social media-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="body" ng-app="MyApp" ng-controller="mainController">
    <!--Loader-->
    <div id="loader_div">
        <div class="loader"></div>
    </div>
    <!--/Loader-->
    <!--MAIN-CONTENT-->
    <div class="main_content hide" id="main_content">
       <nav class="nav_webview">
           <img src="assets/images/logo.png">
           <h1 class="zamorins_title">Zamorins Solutions <br> <span>Simple Touch, Infinite Possibilities</span></h1>
           <button class="btn btn-info">PAY NOW</button>
           <a href="#/contact" id="nav_contact">Contact</a>
           <a href="#/works" id="nav_works">Works</a>
           <a href="#/team" id="nav_team">Team</a>
           <a href="#/about" id="nav_about">About</a>
           <a href="#/home" id="nav_home">Home</a>
       </nav>
       <nav class="nav_mobview">
          <img src="assets/images/logo.png">
           <span class="material-icons ">menu</span>
       </nav>
        <div class="content">
            <ng-view></ng-view>
        </div>
        <div class="social_media animated pulse">
            <ul>
                <li><span ng-click="goToIn()" title="Go to LinkedIn Page" class='symbol in'>&#xe452;</span></li>
                <li><span ng-click="goToFb()" title="Go to Facebook Page" class='symbol fb'>&#xe427;</span></li>
            </ul>
        </div>
    </div>
    <!--/MAIN-CONTENT-->
    <!--Link all scripts in map-scripts.js file-->
    <script src="app/js/map-scripts.js"></script>
</body>
</html>