<div class="aboutPage" ng-controller="aboutController">
    <p class="about_text">
        <span>LET'S INTRODUCE OURSELVES</span>
        <br>&nbsp;
        <br>It is our belief that technology done right can transfer communities in POSITIVE ways.
        <br>&nbsp;
        <br> We are an innovative technology company with mighty mission to EMPOWER and SIMPLIFY the lives of our users.
        <br>&nbsp;
        <br> With a seasoned global team we bring our PASSION and PERSONAL TOUCH to every project.
        <br>&nbsp;
        <br> We invite you to connect with us and engage the ZAMORINS TEAM.
        <br>&nbsp;
        <br>
    </p>
    <div class="grid">
        <div class="col-md-3 col-sm-6 animated fadeInLeft">
            <span class="material-icons bggreen">people_outline</span>
            <br>
            <h4 class="txtgreen">Client Relationship</h4>
            <p class="txtgreen">Our solutions are developed to HELP our clients, maximize the imapact of their investment. we stand by our strong sense of integrity and put our clients FIRST.</p>
        </div>
        <div class="col-md-3 col-sm-6 animated fadeInLeft">
            <span class="material-icons bgblue">rowing</span>
            <br>
            <h4 class="txtblue">End User</h4>
            <p class="txtblue" style="padding: 14%;">We love the communities we SERVE and PAY particular attention to the end users.</p>
        </div>
        <div class="col-md-3 col-sm-6 animated fadeInRight">
            <span class="material-icons bgorange">&#xEB45;</span>
            <br>
            <h4 class="txtorange">Our Goal</h4>
            <p class="txtorange" style="padding: 9%">At the end of the day, our GOAL is to ensure that our clients can sit back with a PEACE of mind. we invite you to CONNECT with us.</p>
        </div>
        <div class="col-md-3 col-sm-6 animated fadeInRight">
            <span class="material-icons bgviolet">extension</span>
            <br>
            <h4 class="txtviolet">Latest Technology</h4>
            <p class="txtviolet" style="padding: 14%">Our technology team stays current with the LATEST TECHNOLOGY trends.</p>
        </div>
    </div>
</div>