<div class="aboutPage" ng-controller="aboutController">
    <div class="grid">
        <div class="about_head animated fadeInDown">
            <h1>About Us</h1>
            <hr/>
        </div>
        <div class="about_description container">
            <div class="animated fadeInDown col-md-4 col-sm-2">
                <img src="assets/images/zam-logo.png" class="zam_logo" title="Zamorins Logo"/>
            </div>
            <div class="about_text animated fadeInDown col-md-8 col-sm-10">
                <p>&nbsp;&nbsp;&nbsp;Founded in 2014 in Des Moines, Iowa, Zamorins started as a WEB DEVELOPMENT company and quickly moved into the MOBILE DEVELOPMENT market.  Today we are a full-cycle service provider with a DEDICATED development team in Kerala, India with expertise in web & mobile development, project management, digital design, technical support and quality assurance. Our Sales, Marketing and Business Management team is spread out throughout the United States.  Collaboratively, we are passionate about delivering finished products that exceed our CUSTOMER EXPECTATIONS.  We are continuously evolving and entering new markets with hopes to stay ahead in the disruptive technology space!</p>
            </div>
        </div>
        
        <div class="why_us animated fadeInDown">
            <h4>Why choose us?</h4>
            <hr>
            <p>From establishing requirements, a budget, and timelines early on, we are able to deliver the most productive, innovative, and cost-effective solutions for your project. Building a dream software might seem overwhelming. With Zamorins, clients have felt at ease about getting their ideas, budgets, and resources actualized into their ideal product- all within realistic deadlines. Our goal is to make our clients’ products a gold standard within their respective industries. We are happy to provide our full-cycle solutions at low-costs to encourage return-clients and referrals! </p>
        </div>
        
        <div class="advantages animated fadeInDown">
            <h4>Zamorins Advantage</h4>
            <ul>
                <li>
                    <i class="material-icons" style="width:30px;font-size: 25px;">done_all</i>
                    Qualified Off-Shore Development helps significantly reduce project costs
                </li>
                <li>
                    <i class="material-icons" style="width:30px;font-size: 25px;">done_all</i>
                    Seamlessly scale up development efforts with our in-house research & development
                </li>
                <li>
                    <i class="material-icons" style="width:30px;font-size: 25px;">done_all</i>
                    Transparency between clients and development process for reliable long-term relationships
                </li>
                <li>
                    <i class="material-icons" style="width:30px;font-size: 25px;">done_all</i>
                    We serve all industries and all size businesses at any point of the project life-cycle
                </li>
                <li>
                    <i class="material-icons" style="width:30px;font-size: 25px;">done_all</i>
                    Our team is passionate about client projects just as much as they are and our work proves it!
                </li>
            </ul>
        </div>
        
        <div class="col-md-3 col-sm-6 animated fadeInLeft">
            <span class="material-icons bgblue">people_outline</span>
            <br>
            <h4 class="txtblue">Client Relationship</h4>
            <p class="bgblue">Our solutions are developed to HELP our clients, maximize the imapact of their investment. we stand by our strong sense of integrity and put our clients FIRST.</p>
        </div>
        <div class="col-md-3 col-sm-6 animated fadeInLeft">
            <span class="material-icons bgblue">rowing</span>
            <br>
            <h4 class="txtblue">End User</h4>
            <p class="bgblue" style="padding: 14%;">We love the communities we SERVE and PAY particular attention to the end users.</p>
        </div>
        <div class="col-md-3 col-sm-6 animated fadeInRight">
            <span class="material-icons bgblue">&#xEB45;</span>
            <br>
            <h4 class="txtblue">Our Goal</h4>
            <p class="bgblue" style="padding: 9%">At the end of the day, our GOAL is to ensure that our clients can sit back with a PEACE of mind. we invite you to CONNECT with us.</p>
        </div>
        <div class="col-md-3 col-sm-6 animated fadeInRight">
            <span class="material-icons bgblue">extension</span>
            <br>
            <h4 class="txtblue">Latest Technology</h4>
            <p class="bgblue" style="padding: 14%">Our technology team stays current with the LATEST TECHNOLOGY trends.</p>
        </div>
        
        <div class="col-md-12 have_idea">
            <h4>Have an idea? Let us help you get started. <a class="btn" href="#/contact">Contact us now!</a></h4>
            
        </div>
    </div>
</div>