<div class="homePage" ng-controller="homeController">
    <!-- Carousel -->
    <div id="homeCarousel" class="carousel slide animated zoomIn">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Items -->
        <div class="carousel-inner">

            <!-- Item 1 -->
            <div class="item active">
                <img src="assets/images/slide_img1.jpg" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>ABOUT US</h1>
                        <h4>It is our belief that technology done right can transfer communities in POSITIVE ways.</h4>
                        <p><a class="btn btn-large btn-warning" href="#/about" target="_blank">Click to view more about us!</a></p>
                    </div>
                </div>
            </div>

            <!-- Item 2 -->
            <div class="item">
                <img src="assets/images/slide_img1.jpg" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>OUR TEAM</h1>
                        <h4>Behind The Scenes Page!</h4>
                        <p><a class="btn btn-large btn-info" href="#/team" target="_blank">Click to meet our team!</a></p>
                    </div>
                </div>
            </div>

            <!-- Item 3 -->
            <div class="item">
                <img src="assets/images/slide_img3.jpg" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>OUR WORKS</h1>
                        <h4>Software developers are the BRAINS behind the DESIGN , INSTALLATION , TESTING and MAINTENANCE of software systems.</h4>
                        <p><a class="btn btn-large btn-danger" href="#/works" target="_blank">Click to see our works!</a></p>
                    </div>
                </div>
            </div>
            
            <!-- Item 4 -->
            <div class="item">
                <img src="assets/images/slide_img3.jpg" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>CONTACT US</h1>
                        <h4>Feel free to say hello!</h4>
                        <p><a class="btn btn-large btn-success" href="#/contact" target="_blank">Click to contact!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--languages using-->
    <div class="lang_used">
            <div class="col-md-4 lang_gird1 animated zoomIn">
                <span class="material-icons lang_icon">tablet_android</span>
                <h3>Android Development</h3>
            </div>
            <div class="col-md-4 lang_gird2 animated zoomIn">
                <span class="material-icons lang_icon">code</span>
                <h3>Web Application Development</h3>
            </div>
            <div  class="col-md-4 lang_gird3 animated zoomIn">
                <span class="material-icons lang_icon">tablet_mac</span>
                <h3>iOS Development</h3>
            </div>
    </div>
    <div>
    
    </div>
</div>