<div class="teamPage"  ng-controller="teamController">
    <div class="team">
        <div class="team_head animated rotateInDownLeft">
            <h1>Our Passionate Team</h1>
            <hr/>
            <h4>Behind The Scenes Page!</h4>
        </div>
        <div class="col-md-4 team_details latha animated zoomIn">
            <img src="assets/images/latha.png" alt="director image">
            <h3 class="red">Latha</h3>
            <h4 class="red">Founder & CEO</h4>
            <a href="https://www.facebook.com/latha.kumar.5686"  target="_blank" class="symbol">&#xe227;</a>
        </div>
        <div class="col-md-4 team_details basu animated zoomIn">
            <img src="assets/images/basu.png"/>
            <h3  class="yellow">Dr.Basu</h3>
            <h4  class="yellow">Business Administator</h4>
            <a href="https://www.facebook.com/choton.basu" target="_blank" class="symbol">&#xe227;</a>
        </div>
        <div class="col-md-4 team_details namita animated zoomIn">
            <img src="assets/images/namita.png"/>
            <h3  class="green">Namita</h3>
            <h4  class="green">Vice President</h4>
            <a href="https://www.facebook.com/npremnath" target="_blank" class="symbol">&#xe227;</a>
        </div>
        <!--
        <div class="col-md-12 team_details dev_team animated zoomIn">
            <img src="assets/images/team.jpg"/>
            <h3  class="purple">Offshore Team</h3>
            <h4  class="purple">Coming together is a beginning. Keeping together is progress. Working together is success.</h4>
        </div>-->
    </div>
</div>