<div class="teamPage" ng-controller="teamController">
    <div class="team">
        <div class="team_head">
            <h1 class="animated rotateInDownLeft">Our Passionate Team</h1>
            <hr/>
            <h3 class="animated rotateInDownLeft">Behind The Scenes Page!</h3>
            <h4>The Zamorins team is close-knit and cross-culturally operated. Our extremely dedicated development team is present in our off-shore office in Kerala, India. Our passionate leadership board is spread out between Iowa, Texas and Wisconsin.</h4>
            <h4>We select the best members from each technology for our client’s projects to make sure they have the time and resources needed to successfully collaborate on the project. We are just a phone call & screen-share away from making your next idea come to life!</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/latha.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Latha</h3>
                        <span class="post">Founder & CEO</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/basu.png">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Choton</h3>
                        <span class="post">Business Administator</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/namita.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Namita</h3>
                        <span class="post">Vice President</span>
                    </div>
                </div>
                
                <!--Offshore Team-->
                
                <div class="col-md-3 col-sm-3 animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/basu.png">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Shamila</h3>
                        <span class="post">Vice President</span>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-3 animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/basu.png">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Rajgopal</h3>
                        <span class="post">Vice President</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/girish.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Girish</h3>
                        <span class="post">PRO</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/loojence.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Loojence</h3>
                        <span class="post">Software Engineer</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3  animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/salman.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Salman</h3>
                        <span class="post">Software Engineer</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3  animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/alwin.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Alwin</h3>
                        <span class="post">Software Engineer</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3  animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/simi.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Simi</h3>
                        <span class="post">Software Engineer</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3  animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/sanju.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Sanju</h3>
                        <span class="post">Software Engineer</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3  animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/rijesh.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Rijesh</h3>
                        <span class="post">Software Engineer</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3  animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/anu.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Anu</h3>
                        <span class="post">Software Engineer</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3  animated flipInY">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/team/robin.jpg">
                            <ul class="social-links">
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Robin</h3>
                        <span class="post">Support Engineer</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>