<div class="teamPage" ng-controller="teamController">
    <div class="team">
        <div class="team_head animated rotateInDownLeft">
            <h1>Our Passionate Team</h1>
            <hr/>
            <h4>Behind The Scenes Page!</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/latha.png">
                            <ul class="social-links">
                                <li title="Go to LinkedIn page" ><a href="#" class="symbol">&#xe452;</a></li>
                                <li title="Go to Facebook page" ><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Latha</h3>
                        <span class="post">Founder & CEO</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/basu.png">
                            <ul class="social-links">
                                <li title="Go to LinkedIn page"><a href="#" class="symbol">&#xe452;</a></li>
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Choton</h3>
                        <span class="post">Business Administator</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/images/namita.png">
                            <ul class="social-links">
                                <li title="Go to LinkedIn page"><a href="#" class="symbol">&#xe452;</a></li>
                                <li title="Go to Facebook page"><a href="#" class="symbol">&#xe427;</a></li>
                            </ul>
                        </div>
                        <h3 class="team-title">Namita</h3>
                        <span class="post">Vice President</span>
                    </div>
                </div>
                
                <!--Offshore Team-->
                
            </div>
        </div>
    </div>