<div class="worksPage"  ng-controller="worksController">
   <div class="contact_head">
        <h1>Our Works</h1>
        <hr>
        <h4>Software developers are the BRAINS behind the DESIGN , INSTALLATION , TESTING and MAINTENANCE of software systems.</h4>
    </div>
    <div class="work_grid">
        <div class="col-md-3 col-sm-6 work_grid_item1">
            <img src="assets/images/web_parkzapp.png" alt="ParkZapp image"/>
            <h3>Parkzapp Web Application</h3>
        </div>
        <div class="col-md-3 col-sm-6 work_grid_item2">
            <img src="assets/images/ios_parkzapp.png" alt="ParkZapp image"/>
            <h3>Parkzapp iOS Application</h3>
        </div>  
        <div class="col-md-3 col-sm-6 work_grid_item3">
            <img src="assets/images/barbound.png" alt="Bar Bound image"/>
            <h3>Bar Bound Web Application</h3>
        </div>
        <div class="col-md-3 col-sm-6 work_grid_item4">
            <img src="assets/images/rcube.png" alt="Bar Bound image"/>
            <h3>rCube</h3>
        </div>
    </div>
</div>