<div class="worksPage" ng-controller="worksController">
    <div class="contact_head">
        <h1>Our Works</h1>
        <hr>
        <h3>Here are some of the current projects in our PORTFOLIO we are proud to have been keeping us busy!</h3>
    </div>
    <div class="works">
        <div class="works_parkzapp ">
            <div class="col-md-3 col-sm-3 ">
                <img src="assets/images/web_parkzapp.png" alt="ParkZapp image" />
            </div>
            <div class="col-md-9 col-sm-9 animated">
                <h2 class="work_title">ParkZapp</h2>
                <h3 class="hide_mob">ParkZapp is both a web and mobile application, facilitating park and playground inspections for US-specific park administrations and free-lance inspectors. With guidance from the United States National Parks & Recs Association, parkZapp was built to help community parks and playgrounds stay compliant with inspection standards integrated into the digital app. </h3>
                <button class="btn animated zoomIn">VIEW PROJECT</button>
            </div>
        </div>
        <div class="works_bar">
            <div class="col-md-3 col-sm-3 ">
                <img src="assets/images/barbound.png" alt="Bar Bound image" />
            </div>
            <div class="col-md-9 col-sm-9 animated ">
                <h2 class="work_title">Bar Bound</h2>
                <h3 class="hide_mob">Bar Bound is a web based application intended to connect consumers with bar owners.  It features the capability of bar owners to advertise daily specials and their bar’s menus through the Bar Bound app.  This app further utilizes data analytics to help clients and manufacturers gather user behavior and tends.</h3>
                <button class="btn animated zoomIn">VIEW PROJECT</button>
            </div>
        </div>
        
        <div class="works_rcube">
            <div class="col-md-3 col-sm-3 ">
                <img src="assets/images/rcube.png" alt="rCube image" />
            </div>
            <div class="col-md-9 col-sm-9 animated ">
                <h2 class="work_title">rCube</h2>
                <h3 class="hide_mob">rCube is a pioneer in the prescription drug management space. rCube project is two-fold: a physical rCube box with storage compartments for medications; the rCube web application for user authentication.  As a whole, rCube will enable storage and security of dispensing medication with just the touch of a finger.</h3>
                <button class="btn animated zoomIn">VIEW PROJECT</button>
            </div>
        </div>
    </div>
    