.grid{
    background-color: #EBE9E8;
    overflow: auto;
    padding: 2%;
    opacity: .9;
    width: 100%;
}

.bgviolet{
    background-color: #663399;
}

.bgblue{
    background-color: #3F6377;
}

.bggreen{
    background-color: #26A65B;
}

.bgorange{
    background-color: #E87E04;
}


.txtviolet{
    color: #663399;
}

.txtblue{
    color: #3F6377;
}

.txtgreen{
    color: #26A65B;
}

.txtorange{
    color: #E87E04;
}

.grid span{
    font-size: 50px;
    padding: 5%;
    border-radius: 50px;
    margin-bottom: 2%;
    transition-duration: .2s;
    transition-timing-function: linear;
    margin: 1%;
    opacity: 0.7;
}

.grid span:hover{
    opacity: .5;
    cursor: pointer;
}

.grid h4{
    font-size: 20px;
    font-family: serif;
}

.grid p{
    font-size: 16px;
    padding: 5%;
    border: 1px solid;
    border-color: transparent;
    font-family: serif;
}

.aboutPage{
    margin-top: 0px;
    padding: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 0px;
}


.about_text {
    overflow: auto;
    padding: 2%;
    opacity: .9;
    color: #51585A;
    font-size: 18px;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 24.5px;
    text-align: justify;
}



.about_text span{
    font-size: 20px;
    border: 2px solid;
    padding: 10px;
}

.about_head{
    color: #51585A;
}

.about_head h1{
    margin-top: 0px;
    font-family: 'Lobster', cursive;
}

.about_head hr{
    border-top: 1px solid #51585A;
    margin-top: 0px;
}


.why_us h4{
    color: #51585A;
    font-size: 18px;
    width: 100%;
    font-family: 'Lobster', cursive;
}

.why_us p{
    color: #51585A;
    padding-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
}


.advantages h4{
    color: #51585A;
    font-size: 18px;
    width: 100%;
    padding-bottom: 1%;
    font-family: 'Lobster', cursive;
}

.advantages li{
    color: #51585A;
    padding-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-bottom: 1%;
    padding-left: 3%;
    font-size: 16px;
    list-style: none;
    font-family: serif;
}

.why_us hr{
    width: 12% !important;
}

.zam_logo {
	width: 65%;
}

.advantages {
    margin-bottom: 3%;
}

.adv_span{
    width: 32px !important;
    font-size: 13px;
}

.have_idea{
    color: #51585A;
    letter-spacing: 2px;
}

.have_idea a{
    color: #23527c !important;
    letter-spacing: 2px;
    text-decoration: none !important;
    padding: 1%;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: .2s;
    transition-timing-function: linear;
    margin: 10px;
    font-family: 'Lobster', cursive;
    padding-left: 0px;
    margin-left: 0px;
}
