.loader {
    border-radius: 50%;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 0;
    left: -58px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.loader img{
    width: 200%;
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: white;
}