.worksPage{
    background-color: #EBE9E8;
    margin-top: 2%;
    overflow: auto;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.worksPage h1{
	text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-top: 1%;
    color: #51585A;
    font-family: 'Lobster', cursive;
}

.worksPage h3{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #51585A;
}

.works_parkzapp{
    background-color: #B29F87;
    overflow: auto;
    padding: 3%;
    text-align: center;
    margin-top: 3%;
}

.works_parkzapp h3{
    text-align: justify;
}

.works_parkzapp img{
    width: 100%;
    border-radius: 4px;
    text-align: center;
}

.works_parkzapp h3{
    line-height: 30px;
    color: white;
    font-family: serif;
    letter-spacing: 1px;
}

.works_bar{
    background-color: #428BCA;
    overflow: auto;
    padding: 3%;
    text-align: center;
}

.works_bar h3{
    text-align: justify;
}

.works_bar img{
    width: 100%;
    border-radius: 4px;
    text-align: center;
}
.works_bar h3{
    line-height: 30px;
    color: white;
    font-family: serif;
    letter-spacing: 1px;
}

.works_rcube{
    background-color: #17BDA2;
    overflow: auto;
    padding: 3%;
    text-align: center;
}

.works_rcube h3{
    text-align: justify;
}

.works_rcube img{
    width: 100%;
    border-radius: 4px;
    text-align: center;
}
.works_rcube h3{
    line-height: 30px;
    color: white;
    font-family: serif;
    letter-spacing: 1px;
}

.worksPage button{
    margin-top: 5% !important;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid white !important;
    padding: 7px 25px !important;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.worksPage button:hover{
    background-color: coral;
    color: white !important;
    border: transparent !important;
}

.work_title{
    font-family: 'Lobster', cursive;
}



@media screen and (max-width: 766px){
    .hide_mob{ 
        display: none;
    }
}