.worksPage{
    background-color: dimgrey;
    margin-top: 2%;
    opacity: 0.9;
    overflow: auto;
}

.worksPage h1{
	text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-top: 1%;
}

.worksPage h4{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

.work_grid{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.work_grid img{
    width: 25%;
}

.work_grid div{
    padding: 1%;
    
}